/*=================================== Extra small devices ==========================================*/
@media only screen and (max-width:600px){
    /*--------------------    menu    ------------------------*/
     .topContent{
            background-image: url("../img/poster.jpg");
            background-size:cover;
            width:100%;
            height:700px;
     }
     .menu{
        display: flex;
        width: 100%;
        height: 90px;
        font-weight: bolder; 
        border-bottom: 1px solid #dddddd;
        position:fixed;
        top:0;
        z-index:3;
    }
    #threebar{ 
        display:block;
        width:100px; 
        text-align:center;
        font-size:2em; 
    }
    .logo{
        font-family: cursive;
        width:200px;
        display:flex;
        justify-content:center;
        align-items:center;
        border-right: 1px solid #dddddd;
        text-decoration: none;
        cursor: pointer;
        color:#626161;
        font-size: 1.9em;
    }
    .logo:hover{ color:grey; }
    #menulist{
        display: flex;
        justify-content:start;
        align-items:center;
        list-style-type: none;
    }
    #menulist li{ margin: 0 20px; }
    #menulist li a{
        text-decoration:none;
        color:#474545;
        font-size:1.4em;
        cursor:pointer;
    }
    #menulist li a:hover{ color:grey;}
    
}


/*=================================== Small devices ==========================================*/
@media only screen and (min-width:600px){
    
}


/*=================================== Medium devices ==========================================*/
@media only screen and (min-width:768px){
    
}


/*=================================== Large devices ==========================================*/
@media only screen and (min-width:992px){
    
}


/*=================================== Extra large devices ==========================================*/
@media only screen and (min-width:1200px){
    
}


